
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans:wght@400;600&display=swap');


body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f9fa;
  color: #333;
}

h1, .text1 {
  font-family: 'Great Vibes', cursive;
  font-size: 2.5rem;
  color: #000000;
}

h4 {
  font-weight: 600;
  margin-top: 1.5rem;
}

.card {
  background-color: #fff;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.btn-primary {
  background-color: #000000;
  border-color: #000000;
}

.btn-primary:hover {
  background-color: #000000;
  border-color: #000000;
}

.countdown {
  font-size: 2.5rem;
  font-weight: bold;
  color: #000000;
}

.gold-line-separator img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
}